body {
    background-color: #0B2126;
    font-family: 'Archivo Narrow', sans-serif;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* top bar */
#top {
    width: 100%;
    height: 6vh;
    background-color: #049DA8;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
}

/* background print */
.print {
    width: 100%;
    background-repeat: no-repeat;
    bottom: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
    z-index: -100;
}

/* holds logo items and search bar together*/
.box {
    width: 600vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

/* look logo */
.logo-item {
    width: 60vh;
    z-index: 3000;
}

/* rocketship logo */
.logo2-item {
    width: 30vh;
    z-index: 3000;
}

/* searchbox details below */
.Field {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.Field--is-search:before {
/* // Use flexbox to center the icon */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* VISUAL DESIGN DETAILS */
.SearchBox {
    margin: 1rem auto 0;
}
/* input details */
.SearchBox-query {
    background: #e9e9e9;
    border-radius: 10px 0px 0px 10px;
    z-index: 400;
    width: 70vh;
    height: 4vh;
    text-overflow: none;
    white-space: nowrap;
    background:#EDEDED;
}

.SearchBox-query:focus {
    background: white;
}

#add-website {
    border-radius: 0 10px 10px 0;
    background: #89CEDE;
    border: none;
    width: 4vh;
    height: 4.55vh;
}


#footer {
    width: 100%;
    height: 6vh;
    background-color: #049DA8;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: 200;
}

.buttonLoad {
    border-radius: 0 10px 10px 0;
    background: #89CEDE;
    border: none;
    width: 4vh;
    height: 4.55vh;
}